<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title><%= producto.nombre %> - Proyecto Integrador</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body>

    <%- include("partials/header") %>

    <div class="container products-wrapper">
    <div class="d-flex align-items-center">
        <h2 class="products-title"><%= producto.nombre %></h2>
        <p class="product-detail-description">
        <a href="#">Editar</a>
    </p>
    </div>

  <div class="product-detail">
    <div class="row">
      <article class="col-12 col-lg-8 product-detail-info">
        <img src="/img/<%= producto.imagen %>" alt="<%= producto.nombre %>" class="product-detail-img">
        <p class="product-detail-description"><%= producto.descripcion %></p>
      </article>

    
      <div class="col-12 col-lg-4">
        <section class="comments">
          <h3>Comentarios</h3>

          <% if (producto.comentarios.length > 0) { %>
            <% producto.comentarios.forEach(comentario => { %>
              <article class="comentario-item">           
                <div class="data">
                  <p class="user">
                    <strong>
                      <a href="/perfil/<%= comentario.usuario.id %>">
                        <%= comentario.usuario.usuario %>
                      </a>
                    </strong>
                    <%= comentario.contenido %>
                  </p>
                </div>
              </article>
            <% }) %>
          <% } else { %>
            <p>No hay comentarios aún.</p>
          <% } %>
        </section>

        <% if (locals.user) { %>
          <form class="form" action="/comentarios/agregar" method="POST">
            <input type="hidden" name="producto_id" value="<%= producto.id %>">
            <input class="form-input" type="text" name="contenido" placeholder="Agregar comentario" required>
            <button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
          </form>
        <% } else { %>
          <p><a href="/login">Iniciá sesión</a> para comentar.</p>
        <% } %>

        <hr>
      </div>
    </div>
  </div>
</div>


    <%- include("partials/footer") %>

</body>
</html>


