<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mi Perfil</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body>

    <%- include("partials/header") %>

    <section class="info-usuario container products-wrapper">
        <div class="row">
            <div class="img-container offset-3 col-2">
                <img src="/images/users/<%= usuario.foto %>" alt="foto de perfil" class="foto-perfil">
            </div>
            <div class="data-container col-6">
                <h1 class="main-title"><%= usuario.nombre %></h1>
                <p><%= usuario.email %></p>
                <ul>
                    <li>8 productos</li>
                    <li>200 seguidores</li>
                    <li>300 comentarios</li>
                </ul>
            </div>
        </div>
    </section>

    <%- include("partials/footer") %>

</body>
</html>
