<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mi Perfil</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body>

    <%- include("partials/header") %>

<main>
  <h1>Perfil de <%= usuario.usuario %></h1>
  <p>Email: <%= usuario.email %></p>

  <h2>Mis productos</h2>

  <% if (productos.length > 0) { %>
    <ul>
      <% productos.forEach(producto => { %>
        <li><strong><%= producto.nombre %></strong> - $<%= producto.precio %></li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>No tenés productos cargados todavía.</p>
  <% } %>
</main>


    <%- include("partials/footer") %>

</body>
</html>
