<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Resultados de búsqueda</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body>

    <%- include("partials/header") %>

<main>
  <h2>Resultados para: "<%= keyword %>"</h2>
  <% if (productos.length > 0) { %>
    <section>
      <ul>
        <% productos.forEach(producto => { %>
          <li>
            <strong><%= producto.nombre %></strong> - $<%= producto.precio %>
          </li>
        <% }) %>
      </ul>
    </section>
  <% } else { %>
    <p>No se encontraron productos que coincidan con tu búsqueda.</p>
  <% } %>
</main>


    <%- include("partials/footer") %>

</body>
</html>
